body {
  background-color: hsl(217, 91%, 21%);
  color: white;
}

.centered {
  text-align: center;
}

.large header {
  font-size: large;
}

.medium main {
  font-size: medium;
}

.small footer {
  font-size: small;
}
